<!DOCTYPE html>
<html>
<head>
	<title>
		GC2677
	</title>
</head>
<style type="text/css">
body {
	background-color: gray;
}
h1 {
	color: lightblue;
}
p{
	color: white;
}
#p1 {
	color: red;
}


#loading {
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

</style>
<body>
	<div>
		<h1>
			Bill Chen
		</h1>
		<p id="p1">
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
		</p>
		<marquee direction = 'left'>
			<img id="loading" src="http://i0.kym-cdn.com/entries/icons/mobile/000/013/564/doge.jpg" width=300 height=200>
		</marquee>
	</div>
	<div>

	<p id="p2">
		Columbia University SEAS '21
	</p>
</div>
</body>
</html>